.headerTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block:30px; 
  margin-inline: 10px; 
}

.headerInput {
  border-radius: 5px;
  width: 820px;
  text-align: center;
  border:2px solid #009AA9;
  padding: 5px 14px;
  outline-color: #009AA9;
}

.Headerimg {
  width: 152px;
}

.bell-header {
  width: 33px;
  height: 33px;
}

.basket-header {
  width: 33px;
  cursor: pointer;
  height: 33px;
}

.basket-header:hover {
  transform: scale(1.1);
}

.userheader {
  color: #02c6d8;
  /* width: 40px; */
  /* height: 40px; */
  display: flex;
}

.userheader img {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.userheader p {
  margin-right: 25px;
}
.arrow {
  cursor: pointer;
}

.arrow:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: white;
}

.header-filter {
  color: #ffff;
  width: 100%;
  height: 60px;
  background-color: #009AA9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
 text-align: center;
 display: flex;
 justify-content: center;
 cursor: pointer;
}

.filter-top {
  text-align: center;
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 14px;
  width: 1440px;
}


.filter-top p{
  position: absolute;
  color: black;
  top: 163px;
  background-color: white;
  width: 1200px;
  height: 400px;
  display: none;
}

.filter-top a:hover {
height: 100%;
  background-color: white;
  color: #02c6d8;
  display: flex;
  justify-content: center;
  color: #02c6d8;
  align-items: center;
  text-align: center;
}

/* .link:hover{
  display: block;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #02c6d8;
  align-items: center;
  text-align: center;
} */

/* DENEME--------------- */

.form-mycount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  position: absolute;
  margin-left: -200px;
  margin-top: 50px;
  background-color: white;
}

.sepet {
  display: none;
  cursor: pointer;
}

.sepet:hover {
 background-color: black;
}
.sepet.active {
  display: block;
  padding: 5px;
  top: 10px;
}

.form-mycount button {
  padding: 10px 13px;
  margin: 2px;
}

.login-header {
  background-color: #009AA9;
  color: white;
  border: none;
  border-radius: 6px;
  width: 100%;
}

.count-header {
  border: none;
  background-color: white;
  border-bottom: 1px solid rgb(122, 122, 122);
}

.myorders-header {
  border: none;
  background-color: white;
 
}
.signup-header {
  color: white;
  border: none;
  border-radius: 6px;
  background-color: rgb(243 75 144);
  width: 100%;
}

.signup-header:hover {
 cursor: pointer;
} 

/* ----------------------Footer-------------------------------- */

.footer-nav {
  color: white;
  background-color: #009AA9;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
}

.footerimg {
  height: 36px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.footer-contanier {
  width: 1420px;
  height: 400px;
  margin: auto;
  display: flex;
    justify-content: center;
    justify-content: space-around;
}

.footer-contanier li {
  list-style: none;
  font-size: 14px;
  color: #c2c2c2;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

.footer-son {
  width: 100%;
  height: 50px;
  background-color: #009AA9;
  color: white;
 text-align: center;
}

/* ------------Srcol Barrrr-------------- */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #009AA9; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #02c6d8; 
}

/* -----------Login--------- */

.container-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
}

.container-login h2 {
  color: #009AA9;
}

.container-login p {
  color: #c2c2c2;
  margin-bottom: 50px;
}

.loginform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.loginform input {
  text-align: center;
  width: 386px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid  #c2c2c2;
}
.loginform button {
  background-color: #009AA9;
  padding: 12px;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.login-sign {
  width: 100%;
}

/* ------Advertising------- */

.advertising {
  width: 100%;
  background-color: #009AA9;
  color: white;
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 24px;
}

/* ---------------Sign ----------*/

.new-sign  h2{
  color: #009AA9;

}

.new-sign p {
  color: #c2c2c2;
  margin-bottom: 30px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.signup-container {
  display: flex;
  justify-content: space-around;
  margin-block: 100px;
}

.sign-form input {
  border: 1px solid gainsboro;
  width: 500px;
  padding: 5px;
  border-radius: 5px;
}

.sign-form button {
  width: 500px;
  background-color: #009AA9;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.sign-Favorite {
  background-color: #009AA9;
  color: white;
  display: flex;
  padding: 30px;
  gap: 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom-left-radius: 84px;
  border-bottom-right-radius: 500px;
  border-top-right-radius: 177px;
}


.sign-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* -------Filter-------- */

.contanier-filter {
  width: 300px;
  height: 100%;
  background-color: #009AA9;
  color: white;
}

/* .form-filter {
  text-align: center;
  align-items: center ;
  display: flex;
  justify-content: center;
} */

.form-filter span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowBtn {
  display: none;
  cursor: pointer;
}

.arrowBtn.active {
  display: block;
}

.filter-handalClick {
 display: flex;
 justify-content: center;
 align-items: center;
}


.form-filter {
  text-align: center;
  box-shadow: rgba(151, 151, 151, 0.15) 0px 1px 5px;
  background-color: white;
  color: black;
  border: none;
}

.filter-main {
  width: 1440px;
  margin: auto;
  margin-block: 40px;
  display: grid;
    grid-template-columns: 0.1fr 2.1fr;
    grid-auto-columns: 1fr;
    gap: 0% px;
    grid-auto-flow: row;
    gap: 30px;

}

.filter-cards {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(151, 151, 151, 0.15) 0px 1px 5px;
  background-color: white;
  padding: 12px;
}

.filter-cards h2 {
  width: 250px;
  height: 300px;
  align-items: center;
  text-align: center;
  border: 1px solid #02c6d8;
}