.headerTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block:30px; 
  margin-inline: 10px; 
}


.headerInput {
  border-radius: 5px;
  width: 820px;
  text-align: center;
  border:2px solid #009AA9;
  padding: 5px 14px;
  outline-color: #009AA9;

}

.Headerimg {
  width: 152px;
}

.bell-header {
  width: 33px;
  height: 33px;
}

.basket-header {
  width: 33px;
  cursor: pointer;
  height: 33px;
}

.basket-header:hover {
  transform: scale(1.1);
}

.userheader {
  color: #02c6d8;
  /* width: 40px; */
  /* height: 40px; */
  display: flex;
}

.userheader img {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.userheader p {
  margin-right: 25px;
}
.arrow {
  cursor: pointer;
}


.arrow:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: white;
}

.header-filter {
  color: #ffff;
  width: 100%;
  height: 60px;
  background-color: #009AA9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
 text-align: center;
 display: flex;
 justify-content: center;
 cursor: pointer;
 padding-block: 10px;
}

.filter-top {
  text-align: center;
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 14px;
  width: 1440px;
}

.filter-top link {
  padding-inline: 5px;
}

a:hover {
  transform: scale(1.1);
}
/* DENEME--------------- */

.form-mycount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  position: absolute;
  margin-left: -200px;
  margin-top: 50px;
  /* right: 30px;
  right: 196px;
  top: 80px; */
  background-color: white;
  /* left: 1250px; */
}

.sepet {
  display: none;
  cursor: pointer;
}

.sepet:hover {
 background-color: black;
}
.sepet.active {
  display: block;
  padding: 5px;
  top: 10px;
}


.form-mycount button {
  padding: 10px 13px;
  margin: 2px;
}

.login-header {
  background-color: #009AA9;
  color: white;
  border: none;
  border-radius: 6px;
}

.count-header {
  border: none;
  background-color: white;
  border-bottom: 1px solid rgb(122, 122, 122);
}

.myorders-header {
  border: none;
  background-color: white;
 
}
.signup-header {
  color: white;
  border: none;
  border-radius: 6px;
  background-color: rgb(243 75 144);
}


.span2 {
  align-items: center;
  text-align: center;
  color: white;
  background-color: #009AA9;
  width: 100%;
  height: 60px;
}