* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.slider-container {
    max-width: max-content;
    margin: auto;
    
}

.slider-main {
    overflow-x: hidden;
    display:flex;
 
    max-width: 1440px;


}


.slider-main img {
    border-radius: 12px;
   min-width: 1440px;
   transition: transform 0.5s ease-in-out;
}